.aside {
  background-color: rgb(253, 253, 253);
  width: 14%;
  height: 100vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .ul-parent {
    width: 100%;
    padding-top: 4rem;
    height: 100%;

    .parent {
      width: 100%;
      display: flex;
      padding: 10px;
    }

    .icon {
      padding-left: 1rem;
      padding-right: 1.2rem;
    }
  }

  a {
    text-decoration: none;
    color: rgb(32, 32, 32);
  }

  h2 {
    font-size: 0.8rem;
  }
}

li {
  list-style: none;
  cursor: pointer;
}

li:last-child {
  h2 a {
    color: red;
  }
}

li:first-child {
  background-color: black;
  h2 a {
    color: white;
  }
}
